*{
  font-family: 'Poppins', sans-serif;
}
body {
    margin: 50px 50px 0px 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }
  
  
  /* navigation bar*/
  .navs{
    padding: 0;
    background-color: #faf9f6;
    height: 80px;
    width: 100%;
    list-style: none;
  }
  
  .navs ul{
    padding: 0;
    text-align: center;
  }
  
  .navs ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  .navs ul li a{
    color: #81c995;
    font-size: 17px;
    font-weight: bold;
  }

  
  a.active, .t:hover{
    background: #dcdcdf;
    transition: .5s;
    padding: 5px;
    border-radius: 5px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .card-title:hover{
    background: #dcdcdf;
    transition: .5s;
    border-radius: 5px;
  }
  .pg1{
    height: 100vh;
  }
  .pg2{
    height: 70vh;
  }
  h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 210px;
  }
  
  
  .tile-image{
    height: 200px;
    width: 100%;
    float: left;
    margin-right: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  .left{
    float: left;
  }

  .right{
    float: right;
  }
  .card{
    width: 45%;
  }
  .creative{
    color: #81c995;
  }
  .card{
    width: 45%;
  }
  @media (max-width: 680px){
    .pg1{
      padding-bottom: 150px;
    }
    h1 {
      font-size: 3rem;
      text-align: center;
    }
    .card{
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
    }
    .card img{
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }
  }
  
  .lead .languages{
    color: #81c995;
  }

  /* socials bar*/
  #tab{
    height: 80px;
    width: 100%;
    background-color: #faf9f6;
  }
  .contact{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .contact ul{
    float: right;
  }
  .contact ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
  }
  #socials, #socials:hover{
    height: 30px;
    padding: 10px;
  }
  
  #socials:hover, #socialsgit:hover{
    background: #dcdcdf;
    transition: .5sec;
    border-radius: 5px;
  }
  #socialsgit{
    height:  40px;
    padding: 5px;
  }
  